<h1><%= @collection.title %></h1>

<%= @collection.tag %>
<%# @collection.filters %>

<%= link_to @collection.filters.ids, filters_path %>

<%# @filter %>

<%# link_to @collection.filters.first.name, filters_path %>

<%= @filters %>

<button class="btn btn-default"><%= link_to "Collections", collections_path %></button>