<div class="modal fade" id="myCollectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<%= render 'formCollect' %>

</div>
<div class="modal fade" id="myFilterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<%= render 'formFilter' %>

</div>


<h1> Refinements </h1>
 <form class="navbar-form navbar-right">
	<%= simple_form_for :search, remote: true, url: refinements_path , :method => :get do |f| %>
	<%= f.input :query, :autofocus => true, label: false, placeholder: "Search Refinements"  %>
	<%= f.button :submit %>
	<% if @refinemnts.present? %>
	  <%= render 'refinements' %>
	<% else %>
	    <p><%= params[:search] %></p>
	  <% end %>
	<% end %>
</form>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><button class="btn btn-default collectBtn" data-toggle="modal" data-target="#myCollectionModal" data-whatever="@collections">New Collection</button></li>
  <li role="presentation"><button class="btn btn-default glyphicon glyphicon-plus filterBtn" data-toggle="modal" data-target="#myFilterModal" data-whatever="@refinements"></button></li>
  <li role="presentation"></li>
</ul>

<ul class="collectlist">
	<legend>Collections</legend>
	<button class="btn btn-default"><%= link_to "Collections", collections_path %></button>
	<%= render @collections %>
</ul>

<ul class="list">
	<legend>Filters</legend>
	<button class="btn btn-default"><%= link_to "Filters", filters_path %></button>
	<%= render @filters %>
</ul>














	




<!--


<%# @refinements.each do |refinement| %>
	
	
	
	<h3><%# refinement.name %></h3>
	<h3><%# refinement.title %></h3>
	<h3><%# refinement.type %></h3>
	<h3><%# refinement.filter_id %></h3>




	<p><%# link_to "Tag", refinement_path(refinement) %></p>  
	<%# link_to 'Edit', edit_filter_path(filter) %>
    <%# link_to 'Delete', refinement, method: :delete, data: { confirm: 'Are you sure?' } %>
<%# end %>


<div class="filtersRefined">
	<%# @refinements.where(type: "Filter").find_each do |filter|  %>
		<%# link_to "filter", filters_path %>
	<%# end %>
	<%# @refinements.find_each(condition: => "type: = Filter") do |filter| %>
   	<%# end %>
</div>


-->




